@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: calc(15px + 0.39vw);
  font-family: 'Lato', sans-serif;
}

:root {
  /* CSS Variables */
  /* *Background colors* */
  --color-bg: #f8f4e9;

  /* *Large Text* */
  --text-large-size: 3.25rem;
  --text-large-weight: 700;
  --text-large-font: 'Playfair Display', serif;

  /* *Regular text* */
  --text-reg-size: 1.75rem;
  --text-reg-weight: 400;
  --text-reg-font: 'Lato', sans-serif;

  /* *Logo Font* */
  --logo-font-size: 1.125rem;
  --logo-font-weight: 700;
  --logo-font-family: 'Playfair Display', serif;
}
